@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope.ttf") format("truetype");
  font-display: swap;
}

@layer base {
  * { @apply box-border focus-visible:outline-0 focus-visible:ring focus-visible:ring-orange/40 }
  :root { @apply font-mono text-white bg-black }
  ::selection { @apply bg-orange/40 }
  #root { @apply relative }
}

html {
  font-size: 14px;
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

/* ANIMATIONS */
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px)
  }
  50% {
    transform: translateY(-20px)
  }
  100% {
    transform: translateY(0px)
  }
}