@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope.ttf") format("truetype");
  font-display: swap;
}

@layer base {
  * { @apply box-border focus-visible:outline-1 focus-visible:outline-white focus-visible:outline-offset-1 focus-visible:outline-dashed }
  :root { @apply font-mono text-white bg-black }
  ::selection { @apply bg-white/20 }
  #root { @apply relative }
}

html {
  font-size: 14px;
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}